%h2= "Contest results for #{@object.name}"
- @object.contests.order('starts_at desc').each do |contest|
  .panel.panel-default
    .panel-heading= "#{contest.starts_at.strftime("%d.%m.%Y")} - #{contest.ends_at.strftime("%d.%m.%Y")}"
    .panel-body
      - if @object.disable_login
        - results = contest.anonymous_highscore_results(5)
        %table.table.table-striped
          %thead
            %tr
              %th ID
              %th First Name
              %th Last Name
              %th Total Duration
          %tbody
            - results.each do |result|
              %tr
                %td= result.anonymous_user.id
                %td= result.anonymous_user.first_name || ""
                %td= result.anonymous_user.last_name || ""
                %td= result.total_duration
      - else
        - results = contest.highscore_results(5)
        %table.table.table-striped
          %thead
            %tr
              %th ID
              %th First Name
              %th Last Name
              %th Total Duration
          %tbody
            - results.each do | result |
              %tr
                %td= result.user.id
                %td= result.user.first_name || ""
                %td= result.user.last_name || ""
                %td= result.total_duration


